#recipes__body {
    position: relative;
    transform: translate(-50%, 8px);
    left: 50%;
    border-radius: 20px;
    width: 80%;
    background: var(--light-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.recipes__container{
    padding: 24px 0;
}

.recipe__selected--top {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: rgb(36, 36, 36);
    display: flex;
    font-size: 32px;
    padding: 0px 24px;
}

.back__btn {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.image__container {
    border-radius: 6%;
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    height: auto;
}

.meal__image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.recipe__selected--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredients__table {
    width: 100%;
    max-width: 600px;
    justify-content: center;
}

.ingredients__table h2{
    text-align: center;
    margin-bottom: 8px;
}

.ingredient__list {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .recipe__selected--top {
        font-size: 24px; /* Smaller font size on tablets */
    }

    .image__container {
        max-width: 100%; /* Full width on smaller screens */
    }
}

@media (max-width: 480px) {
    #recipes__body {
        width: 95%; /* Slightly larger margin on small screens */
    }

    .back__btn h3{
        display: none; /* Hide the text on very small screens */
    }

    .ingredients__table {
        width: auto; /* Allow it to be fluid */
    }
}