#home {
    padding-top: 22px;
}

#landing {
    max-width: 1100px;
    text-align: center;
    background: radial-gradient(circle, #ffa04e, #9f6835);
    border-radius: 20px;
}

.header__description {
    padding: 10px;
    letter-spacing: 3px;
}

